body {

    background: linear-gradient(to right, #AAAAAA 0%, white 30%, white 70%, #AAAAAA 100%);
    font-family: 'Roboto', sans-serif;
}

button, input {
    border: none;
}

a {
    color: white;
    text-decoration: none;
}

.image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 12px;
    padding: 0% 7%;
}

.image-container-header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    margin-bottom: 12px;
    margin-top: 48px;
}

.gallery-component {
    color: white;
    font-size: 24px;
    font-weight: bold;
    background: rgba(0, 0, 0, 0.6);
    padding: 10px 20px;
    border-radius: 6px;
    text-align: center;
    max-height: 48px;
}

.interactive-gallery-component {
    color: white;
    font-size: 24px;
    font-weight: bold;
    background: rgba(0, 0, 0, 0.6);
    padding: 10px 20px;
    border-radius: 6px;
    text-align: center;
    max-height: 48px;
}

.interactive-gallery-component-small {
    color: white;
    font-size: 12px;
    font-weight: bold;
    background: rgba(0, 0, 0, 0.6);
    padding: 5px 10px;
    border-radius: 6px;
    text-align: center;
    max-height: 30px;
}

.interactive-gallery-component:hover {
    background: rgba(0, 0, 0, 0.8);
    cursor: pointer;
}

.image-container-detail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3%;
}

.image-container-detail-header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    margin-bottom: 12px;
}

.image-wrapper {
    position: relative;
    display: inline-block;
    overflow: hidden;
}

.image-wrapper-detail {
    position: relative;
    display: inline-block;
    overflow: hidden;
}

.image-wrapper-detail img {
    transition: transform 0.1s ease-in-out;
}

.image-wrapper .gallery-img {
    max-width: 350px;
    max-height: 280px;
    transition: transform 0.1s ease-in-out;
}

.image-wrapper .gallery-img:hover {
    transform: scale(1.03);
}

.image-wrapper .hover-content {
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 18px;
    font-weight: bold;
    background: rgba(0, 0, 0, 0.6);
    padding: 8px 16px;
    border-radius: 4px;
    opacity: 0;
    transition: opacity 0.1s ease-in-out;
    text-align: center;
    white-space: nowrap;
}

.image-wrapper:hover .hover-content {
    opacity: 1;
}

.file-input {
    color: white;
    padding: 8px 12px;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 6px;
    transition: all 0.3s ease;
}

.file-input::file-selector-button {
    margin-right: 8px;
    border: none;
    background: rgba(0, 0, 0, 0.6);
    padding: 8px 12px;
    color: white;
    cursor: pointer;
}

.file-input:hover {
    background: rgba(0, 0, 0, 0.5);
    transform: translateY(-2px);
}

.file-input::file-selector-button:hover {
    background: rgba(0, 0, 0, 0.8);
}

.form-image-add {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3%;
    gap: 24px;
}

.form-image-text {
    background: rgba(0, 0, 0, 0.4);
    border-radius: 6px;
    color: white;
    padding: 10px 15px;
    font-size: 14px;
    transition: all 0.3s ease;
}

.form-image-text:hover {
    background: rgba(0, 0, 0, 0.6);
    transform: translateY(-2px);
}

.form-image-text::placeholder {
    color: white;
}